@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
body{
  font-family: 'ubuntu', sans-serif !important;
  background-color: rgb(236, 233, 229);
}

.contact-img{
  width : 100px;
  height: 100px;
  border-radius: 50%;
}